.header {
  background-image: url("/resources/images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height:250px;
}

.affix {
  top: 0px;
  width: 100%;
  transition-duration:1s;
  transition-timing-function: ease;
 }

 .center {
   text-align: center;
 }

 .center-footer {
   position: absolute;
   bottom: 7%;
   left: 90%
 }
